################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Obfuscator-WAPI/v16/.suo
/.vs
